body {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(35deg, #ccffff, #ffcccc);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}