doctype html
html
    head
        title Sum of numbers
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        style.
            html, body, .container {
                height:100%; 
                width: 100%; 
                margin: 0;
                padding: 0;
            }
            * {
                box-sizing: border-box;
            }
            .container {
                display: flex; 
                flex-direction: column;
                justify-content: center; 
                align-items: center
            }
            .btn-container {
                display: flex;
                justify-content: center;
            }
            .form-field {
                margin-bottom: 10px;
            }
    body
        div.container 
            span Hi #{name}. You're now logged in
            