doctype html
html
    head
        title 404|Not found
    body    
        div
            h1 Website not found
        div
            p The website your are looking for is not available at this moment