doctype html
html
    head(link rel="stylesheet" href="public/stl.css"
         lindk rel="stylesheet" href="public/bootstrap.css");
        title Division
    body
        div 
            h1(class="container") Division of two numbers
        div(class="container")
            form(action="" method="")
                div(class="container") 
                    input(type="text" name="" placeholder="First number")
                div(class="container")
                    input(type="text" name="" placeholder="Second number")
                div(class="container")
                    button(type="submit") Divide


